* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

h1 {
     color: #EDF1D6;
}

p {
     color: #EDF1D6;
}

.nav h1 a {
     text-decoration: none;
     color: #EDF1D6;
}

h2 {
     color: #EDF1D6;
}

.nav h1 {
     font-size: clamp(0.9375rem, -0.2344rem + 3.75vw, 1.875rem);
}

.nav h1 {
     padding-left: 10px;
}


body {
     background: #9DC08B;
}

.nav {
     background-color: #609966;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-between;

}

.nav li {
     display: inline-block;
     list-style: none;
     margin: 30px 50px;
}

.nav h1 {
     padding-left: 20px;
}

.nav li a {
     text-decoration: none;
     color: #EDF1D6;
     font-size: 20px;
}

.form {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.form h1 {
     padding-top: 10vh;
     font-size: 100px;
     margin: 20px;
     font-size: clamp(2.5rem, -2.1875rem + 15vw, 6.25rem);
     justify-content: center;
}

.form p{
     padding: 100px;
     font-size: 60px;
     font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
     font-weight: bolder;
}

.form ul li {
     display: inline-block;
}

.pricing {
     display: flex;
     justify-content: space-around;

     color: #EDF1D6;

}

.pricing div {
     padding: 100px;
     text-align: unset;
     margin: 20px;
     

     border-radius: 20px;

     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
}

.pricing h2 {
     padding: 20px;
     align-items: center;
}


.testi {
     display: flex;
     justify-content: space-around;


     font-weight:200;
     color: #EDF1D6;
}

.testi div {
     padding: 100px;
     text-align: unset;
     margin: 20px;

     border-radius: 20px;
     

     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
}

.testi h2 {
     padding: 20px;
     align-items: center;
}

.testi img {
     max-width: 200px;
     border-radius: 300px;
     align-items: center;
}




.test {
     display: flex;
     flex-direction: column;

     align-items: center;

     padding-bottom: 10vh;
}

.test h1 {
     margin: 50px;
}

.test input {
     border-style: none;
     border-radius: 5px;
     height: 40px;
     width: 300px;
     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
}


.test h2 {
     margin-bottom: 20px;
}

.submit-btn {
     border-style: none;

     height: 40px;
     width: 90px;
     border-radius: 5px;
     text-align: center;

     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;

     background-color: #EDF1D6;
     cursor: pointer;

     margin-left: 20px;
}

footer {
     background: #609966;

     height: 10vh;
     margin-top: 50px;
     padding: 100px;
}


.login-container {
     display: flex;
     flex-direction: column;

     align-items: center;
}



.login-container {
     display: inline-flex;
     justify-content: space-between;
}

.login-container ul li a {
     text-decoration: none;
     color: #000000;
}

.login-container ul {
     margin: 50px;
     padding: 50px;
}

.login-container ul li {
     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
     margin: 16px;
     display: inline-flex;
     align-items: center;
     padding: 15px;
     background-color: #ffff;
     border-radius: 10px;
     cursor: pointer;
}

.login-container ul li a {
     display: inline-flex;
     align-items: center;
}


.login-container ul li img{
     max-width: 20px;
}

.login-container ul li span {
     display: inline-flex;
     align-items: center;
     margin-left: 10px;
}


.hover:hover {
     background-color: rgb(251, 251, 251);
}

.hover:active {
     background-color: white;
     box-shadow: none;

}

.box {

     background-color: #609966;

}

.box-2{

     background-color: hsl(126, 23%, 49%);

     border-bottom-left-radius: 50px;

}

.try-form {
     display: flex;
     flex-direction: column;
     justify-content: space-between;


     padding: 100px;

     background-color: #609966;

     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
     box-shadow: rgba(8, 27, 75, 0.35) 0px 6px 20px -6px;
     padding-bottom: 200px;
}

.contact-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     border-style: solid;
     padding: 100px;
     padding-bottom: 300px;
}

.about-containerx {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     padding: 100px;
 }

.about-container p {
     justify-items: center;
     text-align: justify;
     font-size: large;
}
 
 .about-containerx img{
     max-width: 250px;
     border-radius: 150px;
     border-style: groove;
     border-color: #EDF1D6;
     margin: 20px;
 }

 @media screen and (max-width: 800px) {
     .pricing {
          flex-direction: column;
          align-items: center;
     }

     .login-container {
          flex-direction: row;
     }


     .login-container ul li{
          padding: 10px;
          font-size: 10.5px;
     }

     .testi {
          flex-direction: column;
     }

     .testi div{
          padding: 50px;
     }

     .form p {
          padding: 20px
     }

     .nav li {
          display: inline-block;
          list-style: none;
          margin: 5px 5px;

     }

     .nav li a {
          text-decoration: none;
          color: #EDF1D6;

          font-size: 12px;
     }

     .pricing div {
          padding: 50px;
     }

     .pricing div p {
          text-align:start;
     }


     .submit-btn {
          margin-top: 10px;
          margin-left: 100px;
     }
}


.creds-ul li {
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     border-radius: 5px;
}

.signup-li:hover {
     transition: 0.3s;
     background-color: #4f7e54;
}

.login-li {
     background-color: #9DC08B;
}


.login-li:hover {
     transition: 0.3s;
     background-color: #44ad4f;
}



section {
     position: relative;
}


.spacer {
     aspect-ratio: 960/300;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

}

.layer1 {
     background-image: url("assets/bottom.svg");
}


.layer2 {
     background-image: url("assets/top.svg");
}

.layer3 {
     background-image: url("assets/footer.svg");
}